#logo {
  width: 170px; /*diminuindo o tamanho da imagem*/
  border-radius: 50%; /*deixando a imagem menor*/

}

h1 {
  text-align: center;
  font-size: 30;
  color: #7d837f;
  font-family: 'quicksand', sans-serif;
}

h2{
  text-align: center;
}


body{
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #d2d7d3;
}

h3{
  color: #7d837f;
  text-align: center;
}


.container{
background-color: #ebebeb;
}

.perfil{
text-align: center;
width:700px;
margin: 20px auto;
background-color: #ffffff;
padding:20px;
margin-bottom: 20px;
border-radius: 4px;
}

.perfil p{
  text-align: justify;
}

td {

}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
